In [1]:
import pandas as pd
import numpy as py

In [2]:
df=pd.read_csv("songs_normalize.csv")

In [3]:
df_copy=df #takinga copy of data

In [4]:
df_copy[['genre1','genre2','genre3','genre4',]]=df_copy['genre'].str.split(",",expand=True) #splitting genres into 1 major genre

In [5]:
drop_cols=["genre","genre2","genre3","genre4"]

In [6]:
df_copy=df_copy.drop(columns=drop_cols)

In [7]:
df_copy['genre']=df_copy['genre1']

In [8]:
df_copy=df_copy.drop(columns="genre1")

In [9]:
df_copy["Duration_min"]=df_copy["duration_ms"]/100000  #standardizing duration by converting it into minutes

In [10]:
df_copy=df_copy.drop(columns='duration_ms')

In [11]:
spotify_genre_populatity=df_copy.groupby("genre")["popularity"].mean().reset_index().sort_values(by="popularity",ascending=False)

In [12]:
spotify_genre_populatity            #most popular genres

                genre  popularity
5      easy listening   72.000000
8               metal   72.000000
10               rock   66.185185
7               latin   62.400000
6             hip hop   61.994845
2                 R&B   60.461538
9                 pop   57.473291
11              set()   57.454545
1       Folk/Acoustic   56.000000
3   World/Traditional   53.800000
0    Dance/Electronic   51.756098
4             country   48.181818

In [13]:
spotify_genre_populatity_artists=df_copy.groupby("artist")["song"].count().reset_index().sort_values(by="song",ascending=False)

In [14]:
spotify_genre_populatity_artists.head()      #artists with most hits

             artist  song
628         Rihanna    25
219           Drake    23
239          Eminem    21
127   Calvin Harris    20
118  Britney Spears    19

In [16]:
df_copy.describe()
#we can use this information to get an estimate of KEY,LOUDNESS,SPEECHINESS and other factors that makes a song a hit.

,year,popularity,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,Duration_min
count,2000.00000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,2009.49400,59.872500,0.667438,0.720366,5.378000,-5.512434,0.553500,0.103568,0.128955,0.015226,0.181216,0.551690,120.122558,2.287481
std,5.85996,21.335577,0.140416,0.152745,3.615059,1.933482,0.497254,0.096159,0.173346,0.087771,0.140669,0.220864,26.967112,0.391366
min,1998.00000,0.000000,0.129000,0.054900,0.000000,-20.514000,0.000000,0.023200,0.000019,0.000000,0.021500,0.038100,60.019000,1.130000
25%,2004.00000,56.000000,0.581000,0.622000,2.000000,-6.490250,0.000000,0.039600,0.014000,0.000000,0.088100,0.386750,98.985750,2.035800
50%,2010.00000,65.500000,0.676000,0.736000,6.000000,-5.285000,1.000000,0.059850,0.055700,0.000000,0.124000,0.557500,120.021500,2.232795
75%,2015.00000,73.000000,0.764000,0.839000,8.000000,-4.167750,1.000000,0.129000,0.176250,0.000068,0.241000,0.730000,134.265500,2.481330
max,2020.00000,89.000000,0.975000,0.999000,11.000000,-0.276000,1.000000,0.576000,0.976000,0.985000,0.853000,0.973000,210.851000,4.841460